<%- include('partials/header') %>

<main>
    <section class="introduction">
        <article class="intro-article">
            <h2 class="intro-title">Qui sommes nous ?</h2>
            <p class="intro-text">Jean et Jacques Pepper, deux frères passionnés par le café, sont les fondateurs de notre boutique. Avec une expertise approfondie et un amour profond pour cette délicieuse boisson, ils ont créé un espace où le café est célébré comme une expérience raffinée et inspirante.</p>
            
            <a class="catalogue-link" href="/catalogue">Voir le catalogue</a>
        </article>
        <img class="img-intro" src="/images/958090105.png" alt="Des grains de café">
    </section>

    <section class="news">
        <h2 class="news-title">Nouveautés</h2>
      <article class="news-article">
        <% coffees.forEach((coffee) => { %>

        <div class="news-card">
            <h3 class="card-title"><%= coffee.name %></h3>
            <p class="card-text">
                <ul>
                    <li>Description: <%= coffee.description %></li>
                    <li>Référence: <%= coffee.reference %></li>
                    <li>Origine: <%= coffee.origin %></li>
                    <li>Prix au kilo: <%= coffee.price %></li>
                    <li>Caractéristique principale: <%= coffee.feature %></li>
                    <li>Disponible: <%= coffee.available %></li>
                </ul>
            </p>
            <a class="card-link" href="/product/<%= coffee.id %>">Découvrir</a>
            </div>

            <% }) %>
        </article>
    </section>
</main>

        <!--<div class="news-card">
            <h3 class="card-title">Nicaraguan Maragogipe</h3>
            <p class="card-text">
                <ul>
                    <li>Description : Café avec des notes de fruits, une acidité vive et un corps plein.</li>
                    <li>Référence : 691550753</li>
                    <li>Origine : Nicaragua</li>
                    <li>Prix au kilo : 28.60 €</li>
                    <li>Caractéristique principale : Fruité</li>
                    <li>Disponible : Non</li>
                </ul>
                
            </p>
            <a class="card-link" href="">Découvrir</a>
            </div>
            <div class="news-card">
                <h3 class="card-title">Hawaiian Kona</h3>
                <p class="card-text">
                    <ul>
                        <li>Description : Café rare au goût riche, une acidité douce et des nuances subtiles.</li>
                        <li>Référence : 958090105</li>
                        <li>Origine : Hawaï</li>
                        <li>Prix au kilo : 55.75 €</li>
                        <li>Caractéristique principale : Doux</li>
                        <li>Disponible : Non</li>
                    </ul>
                </p>
                <a class="card-link" href="">Découvrir</a>
            </div>
            <div class="news-card">
                <h3 class="card-title">Panamanian Geisha</h3>
                <p class="card-text">
                    <ul>
                        <li>Description : Café rare aux arômes floraux complexes, une acidité brillante et un profil de saveur distinctif.</li>
                        <li>Référence : 795501340</li>
                        <li>Origine : Panama</li>
                        <li>Prix au kilo : 42.00 €</li>
                        <li>Caractéristique principale : Fruité</li>
                        <li>Disponible : Oui</li>
                    </ul>
                </p>
                <a class="card-link" href="">Découvrir</a>
            </div>
            <div class="news-card">
                <h3 class="card-title">Panamanian Geisha</h3>
                <p class="card-text">
                    <ul>
                        <li>Description : Café rare aux arômes floraux complexes, une acidité brillante et un profil de saveur distinctif.</li>
                        <li>Référence : 795501340</li>
                        <li>Origine : Panama</li>
                        <li>Prix au kilo : 42.00 €</li>
                        <li>Caractéristique principale : Fruité</li>
                        <li>Disponible : Oui</li>
                    </ul>
                </p>
                <a class="card-link" href="">Découvrir</a>
            </div>
            <div class="news-card">
                <h3 class="card-title">Panamanian Geisha</h3>
                <p class="card-text">
                    <ul>
                        <li>Description : Café rare aux arômes floraux complexes, une acidité brillante et un profil de saveur distinctif.</li>
                        <li>Référence : 795501340</li>
                        <li>Origine : Panama</li>
                        <li>Prix au kilo : 42.00 €</li>
                        <li>Caractéristique principale : Fruité</li>
                        <li>Disponible : Oui</li>
                    </ul>
                </p>
                <a class="card-link" href="">Découvrir</a>
            </div>
            <div class="news-card">
                <h3 class="card-title">Panamanian Geisha</h3>
                <p class="card-text">
                    <ul>
                        <li>Description : Café rare aux arômes floraux complexes, une acidité brillante et un profil de saveur distinctif.</li>
                        <li>Référence : 795501340</li>
                        <li>Origine : Panama</li>
                        <li>Prix au kilo : 42.00 €</li>
                        <li>Caractéristique principale : Fruité</li>
                        <li>Disponible : Oui</li>
                    </ul>
                </p>
                <a class="card-link" href="">Découvrir</a>
            </div>
        
    </article>
    </section>
</main> -->

<%- include('partials/footer') %>