<%- include('partials/header') %>

<main>
    <section>
        <img class="img-detail" src="/images/100955890.png" alt="Des grains de café dans un sac">
    </section>
    <section class="products-detail">
        <h3 class="products-detail-title"><%= product.name %></h3>
        <p class="products-detail-text">
          <ul>
            <li>Description: <%= product.description %></li>
            <li>Référence: <%= product.reference %></li>
            <li>Origine: <%= product.origin %></li>
            <li>Prix au kilo: <%= product.price %></li>
            <li>Caractéristique principale: <%= product.feature %></li>
            <li>Disponible: <%= product.available %></li>
          </ul>
        </p>
            <a class="products-detail-link" href="/catalogue">Catalogue</a>
    </section>
  </main>

<%- include('partials/footer') %>